# Игнорируем виртуальное окружение и кэш
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем локальные файлы окружения
.env
.env.*
!.env.example

# Игнорируем временные файлы
.DS_Store
*.log
*.pid
*.sqlite

# Игнорируем файлы IDE
.vscode/
.idea/
*.swp

# Игнорируем файлы Git
.git/
.gitignore